Source: nauty
Section: unknown
Priority: extra
Maintainer: David Bremner <bremner@unb.ca>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: nauty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
