#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make
-include /usr/share/topgit/tg2quilt.mk

%:
	dh --with quilt $@

override_dh_auto_build:
	$(MAKE) BUILDSHLIBS=libnauty.so SONAME=libnauty.so.0d

override_dh_auto_clean:
	$(MAKE) -f makefile.basic clean

override_dh_auto_install: 
	#this is a bit crude, but dh_install and dh_link are both being too clever.
	mkdir -p debian/libnauty-dev/usr/lib && ln -sf $(SONAME) debian/libnauty-dev/usr/lib/libnauty.so

override_dh_auto_test:
	make checks
